@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,300&display=swap');

/*---------------------------------------
                -RESET-
---------------------------------------*/


:root {
    --color-primary: #121212;
    --color-secundary: #7b7b7b;
    --color-black: rgb(47, 47, 47);
    --color-button: #f8f8f8;
    --color-text: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
}



h1, h2, h3, p{
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    /* color: var(--color-black) */
}

li{
    list-style: none;
    text-decoration: none;
}

a, .header__a{
    text-decoration: none;
    text-align: center;

}

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

hr{
    margin: 0 auto; 
    width: 100%;
    display: inline-block;
}

.main__container>div{
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
}




/*---------------------------------------
                -GLOBAL-
---------------------------------------*/

.wrapper{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    

    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--color-primary)
}

.darkMode{
    background: #121212;
    background-color: var(--color-primary);
    color: #BB86FC;
}

#btnLightMode{
    margin: 0;
}
/*---------------------------------------
                -HEADER-
---------------------------------------*/


.loading{
    height: 100vh;
}

.header{
    width: 80vw;
    min-height: 80px;
    margin: 0 auto;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.1em solid var(--color-black);
}

.btn-mode{
    margin:0 0.2rem;

    border-radius: 4px;
    border: 1px solid var(--color-primary);
}

#btnDarkMode{
    background-color:var(--color-primary);
    color: #CFDEF3;
}

.header__ul{
    margin: 0 auto;
    padding: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__li{
    padding: 1.5rem;
}

.header__a{
    color: #024aa8;
}

.header__search{
    margin:0 2rem;
}

#botonCarrito:hover{
    color: aquamarine;
}

#buscarCamiseta{
    padding: 0.1rem;
}

/*---------------------------------------
                -MAIN-
---------------------------------------*/

.main {
    margin: 0 auto;
    width: 70vw;
    height: 100%;
}

.main__section{
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*FORM*/
.section__form{
    width: 21vw;
}

.form__input{
    width: 20vw;
    margin: 0.5rem auto;
    padding: 0.3rem 0.5rem;

    border-radius: 0.3rem;
    border: 0.5px solid rgb(64, 64, 64);
}


::placeholder{
    margin: 0 auto;
    font-style: italic;
}

.section__btn{
    margin: 2rem 0;
    padding: 0.5rem;

    background-color: var(--color-button);
    border-radius: 0.3rem;
    border: none;
}

.form_btns{
    width: 21vw;
    display: flex;
    justify-content: space-around;


}

.form__btn{
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.5px solid rgb(64, 64, 64);
}

#salir{
    background-color: rgba(255, 99, 71, 0.689);
}


/*PRODUCTS*/

#products{
    padding: 0;
}

.main__container{
    padding: 0;
    margin: 1rem auto;


    width: 100%;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;



    /* display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; */
}

.main__container > div{
    padding: 0;
    margin: 0;
}

.card{
    /* padding: 0;
    margin: 0 auto; */
    border: 0.1rem solid var(--color-secundary) ;
    border-radius: 20px;
    box-shadow: 9px 16px 15px -3px rgba(82, 82, 82, 0.1);
    width: 100%;
    color: #121212;
    font-weight: 500;


    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container__title{
    padding: 0.7rem;

    display: flex;
    flex-direction: column;
}

.container__img{
    width: 400px;
    height: 400px;

    image-orientation: center center;
    border-radius: 10px;
}

.container__product{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container__product--p{
    text-align: center;
    letter-spacing: 0.08rem;
}

.container__btn-primary{
    margin: 1rem auto;
    padding: 0.5rem 2rem;

    background-color: var(--color-button);
    border-radius: 0.5em;
    border: 1px solid  #7b7b7b ;
    cursor: pointer;
    transition: 0.3s;
}

.container__btn-primary:hover{
    background-color: #BB86FC;
    color: #f8f8f8;
}

.ofertaColor{
    color: tomato;
}

/*MODAL CARRITO*/

#modal-body{
    width: 500px;
}
#modalContent__Carrito{
    margin: 0 auto;
    width: 500px;
}

.card{
    margin: 2rem 0;
    padding: 0.5rem;
}

.titleImg{
    width: 400px;
}

.card__title{
    text-align: center;
}

.card__product{
    margin: 0rem auto;
    display: flex;
    flex-flow: row wrap;

}

.card__product--p{
    text-align: center;
    padding: 0 1rem;
}

/*MODAL CAMISETAS*/

#idModalAgregarCamiseta{
    color: #121212;
}

#btnGuardarCamisetas:hover{
    background-color: #CFDEF3;
}

#salir:hover{
    background-color: rgba(251, 42, 5, 0.689);
}

.h2__result{
    display: block;
    margin: 0 auto;
}

/*MODAL CLAVE*/
#idContrasenia{
    color: #121212;
}

.button__center{
    margin: 0 auto;
    text-align: left;
}

#btnCargarContrasenia{
    background-color: var(--color-button);
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
}

#btnCargarContrasenia:hover{
    background-color: #BB86FC;
    color: #f8f8f8;
}


/*---------------------------------------
                -FOOTER-
---------------------------------------*/

.footer{
    width: 80vw;
    min-height: 80px;
    margin: 0 auto;
    padding: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: 0.1em solid var(--color-black);
}

.footer__h3--title{
    font-size: 1.2rem;
}

.footer__h4--copyright{
    font-size: 1.2rem;
}

.footer__socialnetwork{
    font-size: 1.3rem;
}

.footer__a--socialnetwork{
    padding: 0.2rem;
}

.button{
    border: 0.5px solid #616161;
}